body {
	width: 80%;
 	margin: 2% 10%;
 	border: solid black;
 	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.2;

}

main {
	width: 65%;
	float: left;
	margin: 0;
}

aside {
	width: 30%;
	float: right;
}

