@CHARSET "UTF-8";

body {
	width: 80%;
 	margin: 0 10%;
}

.main-header {
	background: #CCC;
}

.pages-header {
    list-style: none;
}

.pages-header li {
	float: left;
    margin-right: 20px;
}

.pages-header li a {
	text-decoration: none;
}

.main-page header {
	margin: 10px;
}

.login-place-header {
	padding: 10px 20px 10px 0;
	text-align: right;
}

.lang {
	margin: 3px 0 0 12px;
	
	float: right;
}

.lang img {
	text-decoration: none;
	border-style: none;
	width: 20px;
	height: 15px;
}

.main {
	width: 75%;
	clear: both;
	float: left;
	margin: 0;
}

.main-aside {
	width: 20%;
	float: right;
	color: black;
	background: #B5CED3;
}

.main-aside li {
	margin-bottom: 5px;
}

.main-aside a {
	color: black;
	text-decoration: none;
}

.main-footer {
	clear: both;
	background: #CCCCCC;
	text-align: center;
}

h2 {
	padding: 10px 0 10px 0;
}

.input-name {
	margin: 10px;	
}

.enter-login-header {
	padding: 10px;
	text-align: right;
}

.error-message {
	color: red;
}

.login-place-header a {
	text-decoration: none;
}

.user-menu-header {
	display: inline;
	float: left;
	padding: 0 0 0 20px;
}

.first-name-header {
	display: inline;
	padding: 0 30px 0 0;
}

.logout-header {
	display: inline;
	float: right;
}

.admin-links a {
	padding: 5px 10px 10px 0;
}

.table-issues {
	border-collapse: collapse;
	border: 4px double black;
	width: 100%;
	margin: 10px 0;
}

.users-table {
	border-collapse: collapse;
	border: 4px double black;
	width: 100%;
	margin: 10px 0;
}

.users-table th {
	text-align: left;
    background: #ccc; 
    padding: 5px;
    border: 1px solid black; 
}

.table-issues th { 
    text-align: left;
    background: #ccc; 
    padding: 5px;
    border: 1px solid black; 
}

.users-table td { 
    padding: 5px;
    border: 1px solid black;
}

.table-issues td { 
    padding: 5px;
    border: 1px solid black;
}

.add-btn {
	margin: 5px 0;
}

.edit-btn {
	margin: 5px 0;
}

.search-btn {
	float: left;
	margin: 0 10px 10px 0;
}

/* width in add issue page */
.add-issue-table select {
	width: 200px;
}

.add-edit-table select {
	width: 200px;
}

.edit-user select {
	width: 200px;
}

select.assignee-select {
	width: 300px;
}

.summary-select {
	width: 300px;
}

.description-select {
	height: 100px;
	width: 300px;
}

td.color-Critical {
	color: red;
}

td.color-Minor {
	color: green;
}

.table-id-name {
	text-align: center;
}

.table-id {
	text-align: center;
}

/* ===== comment ======= */
.comments {
	border-bottom: 10px; 
}

.comment-part span {
	padding: 15px 5px 15px;
}

.add-comment {
	width: 320px; 
	color: blue; 
	float: left;
}

.date-comment {
	width: 120px; 
	color: blue; 
	float: right;
	text-align: right;
}

.footer-comment {
	clear: both; 
	background-color: #CCC;
}

span.comment {
	border: 30px;
}

/*======= file upload ========*/

.upload-file span.upload-left {
	text-align: left;
}

.upload-file span.upload-right {
	text-align: right;
}

.footer-attachment {
	
}

/* ====== form-messages ====== */
#loginForm {
	width: 100%;
}

#loginForm .red-text,
.red-text {
	color: red;
}

#loginForm input {
	width: 150px;
}

#loginForm .login-text {
	width: 10%;
}

#loginForm .login-sub {
	width: 70px;
}


